<div class="user-details">
  <h1>About</h1>
  <p>I'm a Dutch software engineer with a focus on backend development
  using both Ruby and Elixir. With a history in promotional and telecom
  applications I have an expertise in scaleable applications.</p>
</div>
<div class="user-details">
  <!--
  <h1>For Hire</h1>
  <p>I'm available for hire remotely. More details about projects I've done in the past can be found on <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}/" target="_blank">LinkedIn</a>, or you can reach out to me for more info via <a href="mailto:{{ site.email }}">e-mail</a>.</p>
  -->
  <h1>Unavailable for hire</h1>
  <p>I'm currently unavailable for hire.</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Code</h2>
    <p>My main development languages are Ruby and Elixir, but I have worked with JavaScript, PHP and more.</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <p>
      Docker,
      Git,
      Linux,
      Photoshop,
      Vim
      and many more.</p>
    </div>
  </div>
