<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.title }}</span>
        <span class="site-description">{{ site.subtitle }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Mail me" href="mailto:{{ site.email }}"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="Call me" href="tel:{{ site.phone }}"><i class="icon fa fa-phone"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/{{ site.github_username }}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
