---
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
  display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "syntax";

section.share {
  font-size: 1px;
  h4 {
    margin: 0 0 5px 0;
  }
  span {
    display: inline-block;
    width: 110px;
  }
}
